@import "tailwindcss";

@theme {
  --color-primary: #383838;
  --color-secondary: #b0a884;
  --color-tertiary: #f5f2f0e8;
  /* --color-tertiary: #f5f2f0; */
}

/* .text-primary {
  color: #383838;
} */

.hero {
  background-image: url(../public/hero.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* border-bottom-left-radius: 200px; */
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%,
      transparent 100%);
  pointer-events: none;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .hero::before {
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%,
        transparent 100%);
    pointer-events: none;

  }

  .hero {
    border-bottom-left-radius: 0px;
  }
}

.hero-content {
  position: relative;
  z-index: 2;
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.menu-visible {
  animation: slideIn 0.3s ease-out forwards;
  overflow: hidden;
}

.menu-hidden {
  animation: slideOut 0.3s ease-in forwards;
}